TWITCH_CLIENT_ID=iwq795l620bx8720r2j1nhuc7dt565
TWITCH_CLIENT_SECRET=jx4lumxkfmekw150wg7g6xnawloc5e
TWITCH_REDIRECT_URI=http://localhost:3000/auth/twitch/callback
SESSION_SECRET=replace_with_random_secret
PORT=3000
