body{
background: transparent;
font-family: Arial;
color: white;
}

.team-builder{
display:flex;
flex-direction:column;
gap:10px;
width:300px;
margin:auto;
}

.team-builder input{
padding:10px;
font-size:16px;
}

button{
padding:10px;
background:#ff3b3b;
border:none;
color:white;
cursor:pointer;
}

#team{
display:flex;
gap:20px;
justify-content:center;
align-items:center;
}

.pokemon img{
width:120px;
}

.pokemon{
text-align:center;
}